<style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #131f24;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #ffffff;
    }
    </style>
     <div class="container mt-5">
        <nav>
            <div class="nav nav-tabs connected-tabs" id="nav-tab" >
                <a  class="nav-link" id="nav-historylocal-tab"  >
                   Địa điển lịch sử
                </a>
                <a class="nav-link" id="nav-course-tab">
                     Khóa học
                 </a>               
        </div>
        </nav>
    </div>
